*{box-sizing: border-box;}

body, html{
    height: 100%;
    background-color: #e5e5e5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tela2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

header{ 
    z-index: 10;
    width: 100%;
    height: 69px;
    font-size: 37px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    background-color:  #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;  
}

.imgtela2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 227px;
    background: #00000091;
    position: relative;
}
.img1{
    width: 100%;
    height: 227px;
}
.textoquizz{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 54px;
    color: #ffffff;
    position: absolute;
    font-size: 39px;
}

.caixapergunta{width: 759px;
    height: 676px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #B9B9B9;
}

header p{
    font-size: 37px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
}

.conteudo{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 390px;
}
.seusquizzes{
    width: 75%;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-items:center;
    align-items: center;
    border-radius: 5px;
    border-color: #D4D4D4;
    background-color: #FAFAFA;
    margin-top: 70px;
    border-style: dotted;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 33px;
}

.textinho{
    font-size: 20px;
    width: 250px;
    height: 107px;
    display: inline-block;
    word-break: break-word;
    color: #B9B9B9;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 25px;
}

.botao{
    font-size: 21px;
    color:#EC362D;
    width: 151px;
    height: 40px;
    border-radius: 50px;
    border-color: #EC362D;
    border: 1px;
    border-style: dotted;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao:hover, .botao:focus{
    cursor: pointer;
}
.quizzes {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 90px;
    position: initial;
}
.caixinha{
    width: 340px;
    height: 181px;
    background-color: #ffffff;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#ffffff, #000000);
    position: relative;
    cursor: pointer;}

.caixinha{
    z-index: 3;
    width: 340px;
    height: 181px;
    background-color: #ffffff;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#ffffff, #000000);
    position: relative;
}
.img{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 340px;
    height: 181px;
    opacity: 0.9;
    
}
.texto{
    z-index: 4;
    width: 95%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto p{
    font-size: 19px;
    padding-top: 125px;    
    position: relative;
    color: #ffffff;
}

@media (max-width: 1100px){}





.hidden{
    display: none !important;
}